/*Main style WIP */

.main
{
  background:#ffffff;
}

/*account search*/
.search
{
  margin:20px 20px;
  padding:20px;
}

.form-inline .form-control {
  display: inline-block;
  width:60%;
  vertical-align: middle
}

.search .right
{
  float:right;
  display : block;
}

.search input::-webkit-input-placeholder { font-style:italic; }

.search select
{
  width:50%;
}

.orders table td {
  width:10%;
  /*float:left;*/
  word-wrap:break-word;
}

.orders table .accountName {
  width:30%;
  /*float:left;*/
  word-wrap:break-word;
}

.orders table .productName {
  width:30%;
  /*float:left;*/
  word-wrap:break-word;
}

.orders table .status {
  width:20%;
  /*float:left;*/
  word-wrap:break-word;
}

.orders .tablerow{
  background-color: #adadad;
  border-spacing:2px;
}

.detail {
  border-top: 1px solid #eee;
  margin-bottom:1px;
}

#nrResults
{
  padding:10px;
  margin:10px;
  font-size:10px;
}

.resetFilter
{
  float:right;
  margin-top:40px;
  margin-right:20px;
  font-size:10px;
  /*padding:10px;*/
}

.tab-content
{
  margin-bottom: 10px;
}


.st-sort-ascent:before{
  content: '\25B2';
}

.st-sort-descent:before{
  content: '\25BC';
}

.input[type="password"],input[type="text"] {
  background-color:#fff;
  height: 34px;
  _height: 18px;
  height/*\**/:18px\9;
  height: 18px\9;
}


/*tablefilter*/
.tableFilter
{
  margin-top: 10px;
}


/*ordersourceFilter*/
.advancedSearch
{
  font-size: 10px;
  margin-top: 35px;
}

a
{
  cursor:pointer;
}


/*details*/

.transactionDetails
{
  margin-top: 10px;
}

label
{
  margin-top: 10px;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #eff9fd; }

.table-striped-child > tbody > tr > td {
    background-color: #ededed; }

.table-striped-child > tbody > tr:nth-child(odd) > td {
    background-color: #f7f7f7; }

.table-striped > tbody > tr:hover > td, .table-striped > tbody > tr:hover > th, .table-striped > tbody > tr:nth-child(odd):hover > td, .table-striped > tbody > tr:nth-child(odd):hover > th {
    background-color: #d8f0fa; }

.table-striped-child > tbody > tr:hover > td, .table-striped-child > tbody > tr:nth-child(odd):hover > td {
    background-color: #d8d9d9; }

.table > tbody > tr.active > td, .table > tbody > tr:nth-child(odd).active > td {
    background-color: #d8f0fa; }


.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border: 0;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right; }
@media print {
  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    white-space: break-all; } }

.table > thead > tr > th:first-child, .table > thead > tr > td:first-child, .table > tbody > tr > th:first-child, .table > tbody > tr > td:first-child, .table > tfoot > tr > th:first-child, .table > tfoot > tr > td:first-child {
  text-align: left; }

.table > tbody > tr > td.table-collapse {
  padding: 0; }

.table > tbody > tr > td.table-collapse > .table {
  margin: 0; }

.table > thead > tr > th, .table > thead:first-child > tr:first-child > th {
  border-bottom: 1px solid #ebecec;
  /*border-top: 1px solid #ebecec;*/
  font-weight: normal;
  color: #666; }

.table > tfoot > tr {
  border-bottom: 1px solid #000000; }

@media print {
  .table > tfoot > tr {
    border-top: 1px solid #000000; } }

.table {
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 100%;
  max-width: 950px; }
.table thead th {
  font-weight: bold; }
.table thead a {
  color: inherit;
  text-decoration: none; }

.table .table {
  background-color: transparent; }

.table.table-total > tbody > tr {
  border-bottom: 1px solid #000000; }

@media print {
  .table.table-total > tbody > tr {
    border-top: 2px solid #000000; } }

.table-responsive {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  border: 0;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%; }
.table-responsive > .table {
  margin-bottom: 0;
  width: 100%; }

.table-responsive.table-responsive-bleed {
  margin-right: -26px;
  width: auto; }

.table-responsive > .table.table-nowrap > thead > tr > th, .table-responsive > .table.table-nowrap > thead > tr > td, .table-responsive > .table.table-nowrap > tbody > tr > th, .table-responsive > .table.table-nowrap > tbody > tr > td, .table-responsive > .table.table-nowrap > tfoot > tr > th, .table-responsive > .table.table-nowrap > tfoot > tr > td {
  white-space: nowrap; }

.sortable.sortable-ascending:after, .sortable.sortable-descending:after {
  font-size: 0.875em;
  margin-left: 5px; }

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #eff9fd; }

.table-striped-child > tbody > tr > td {
  background-color: #ededed; }

.table-striped-child > tbody > tr:nth-child(odd) > td {
  background-color: #f7f7f7; }

.table-striped > tbody > tr:hover > td, .table-striped > tbody > tr:hover > th, .table-striped > tbody > tr:nth-child(odd):hover > td, .table-striped > tbody > tr:nth-child(odd):hover > th {
  background-color: #d8f0fa; }

.table-striped-child > tbody > tr:hover > td, .table-striped-child > tbody > tr:nth-child(odd):hover > td {
  background-color: #d8d9d9; }

.table > tbody > tr.active > td, .table > tbody > tr:nth-child(odd).active > td {
  background-color: #d8f0fa; }

.column-xsmall {
  width: 60px;
  min-width: 60px; }

.column-small {
  width: 80px;
  min-width: 80px; }

.column-medium {
  width: 110px;
  min-width: 110px; }

.column-large {
  width: 130px;
  min-width: 130px; }

.column-xlarge {
  width: 240px;
  min-width: 240px; }

.column-medium-min {
  min-width: 120px; }

.table-filterable tbody tr {
  display: none; }
.table-filterable tbody tr.is-active {
  display: table-row; }

@media screen {
  .toggle {
    display: none; }
  .toggle.active {
    display: block; } }

.well {
  background: #ffffff;
  border: 1px solid #d8d9d9;
  border-radius: 4px;
  padding: 0.5625em 0.9375em; }

.well-square {
  background: #ebecec;
  padding: 1.75em;
  text-align: left; }
