<div>
  {{displayedRows.length}} results match your search selection.
  <div>

    <table  st-table="displayedRows"  st-safe-src="settlements" class="table table-striped">
      <thead>
      <tr>
        <th st-ratio="25" st-sort="account.accountName">Account</th>
        <th st-ratio="10" st-sort="account.tradeDate">Trade date</th>
        <th st-ratio="5" st-sort="account.orderType">Type</th>
        <th st-ratio="25" st-sort="account.asset.name">Investment</th>
        <th st-ratio="5" st-sort="account.units">Units</th>
        <th st-ratio="5" st-sort="account.price">Price</th>
        <th st-ratio="5" st-sort="account.fee">Fee</th>
        <th st-ratio="5" st-sort="account.settlementValue">Value</th>
        <th st-ratio="5" st-sort="account.account.adviser.key">Adviser</th>
        <th st-ratio="10" st-sort="account.settlementDate">Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

     nr of displayed rows {{displayedRows.length }}
     nr of sett rows {{settlements.length }}

     <tr ng-repeat="account in settlements | filter:accountName">

      <!--<tr ng-repeat="account in settlements | dateRange:dateFrom:dateTo:'settlementDate' | filter:account.orderType.code | filter:account.assetType.code | filter:accountName ">-->

        <td st-ratio="25"><a ui-sref="orderDetail({accountId:account.account.accountId.key})">{{account.account.accountName
          | limitTo:30}}</a>
        </td>

        <td st-ratio="5">{{account.tradeDate}}</td>
        <td st-ratio="5">{{account.orderType}}</td>
        <td st-ratio="25">{{account.asset.name }}</td>
        <td st-ratio="5">{{account.units}}</td>
        <td st-ratio="5">{{account.price.value | showCurrency:account.price.currency}}</td>
        <td st-ratio="5">{{account.fee}}</td>
        <td st-ratio="5">{{account.settlementValue.value | showCurrency:account.price.currency}}</td>
        <td st-ratio="5">{{account.account.adviser.key}}</td>
        <td st-ratio="20">{{account.settlementDate}}</td>
        <td>
          <i class="fa fa-file-pdf-o"></i>
        </td>
      </tr>
      </tbody>

      <tfoot>
      <tr>
        <td colspan="11" class="text-center">
          <div st-items-by-page="10" st-pagination=""
               st-template="views/pagination.custom.html"></div>
        </td>

      </tr>
      </tfoot>

    </table>

  </div>
</div>
