<div class="orders">
  <hr class="detail"/>

  <div class="row form-inline">
    <div class="col-sm-4">
      <label>Account</label>
      <span>{{accountId}}</span>
    </div>
    <div class="col-sm-4">
      <label>Accounttype</label>
      <span>??</span>
    </div>
  </div>

  <hr class="detail"/>

  <div class="row form-inline">
    <div class="col-sm-6">
      <label>Accountname</label>
      <span>{{accountName}}</span>
    </div>
  </div>

  <hr class="detail"/>

  <div class="row">
    <order-source-filter></order-source-filter>
    <reset-filter></reset-filter>
  </div>

  <table-filter></table-filter>


  <div>
    <table st-table="displayedRows" st-safe-src="orderDetails" class="table table-striped">
      <thead>
      <tr>
        <th st-ratio="10" st-sort="account.orderDate">ORDER DATE</th>
        <th st-ratio="25" st-sort="account.asset.name">INVESTMENT</th>
        <th st-ratio="15" st-sort="account.asset.type">TYPE</th>

        <th st-ratio="10" st-sort="account.totalUnits">UNITS</th>
        <th st-ratio="10" st-sort="account.unitsFilled">FILLED</th>
        <th st-ratio="5" st-sort="account.orderTransactionSummary.amount.value">PRICE</th>

        <th st-ratio="10" st-sort="account.valid">VALID</th>

        <th st-ratio="5" st-sort="account.fee">FEE</th>

        <th st-ratio="5" st-sort="account.value">AMOUNT</th>
        <th st-ratio="5" st-sort="account.dataSource">SOURCE</th>
        <th st-ratio="10" st-sort="account.transactions.state">STATUS</th>
        <th st-ratio="5" st-sort="account.detail"></th>

      </tr>
      </thead>


      <tbody ng-repeat="account in displayedRows">

      <tr>
        <td st-ratio="10">{{account.orderDate}}</td>
        <td st-ratio="25">{{account.asset.name | limitTo:30 }}{{account.asset.name.length >= 30 ? '...' : ''}}</td>
        <td st-ratio="15">{{account.asset.type| removeUnderscore }}</td>

        <td st-ratio="">{{account.totalUnits}}</td>
        <td st-ratio="5">{{account.unitsFilled}}</td>
        <td st-ratio="10">{{account.orderTransactionSummary.amount.value|currency}}</td>

        <td>valid??</td>

        <td st-ratio="5">{{account.limitPrice.value| currency}}</td>

        <td st-ratio="5">{{account.value}}</td>
        <td st-ratio="5">{{account.dataSource}}</td>
        <td st-ratio="10">{{account.orderState}}</td>

        <td><a ng-class="{true:'fa fa-plus', false:'fa fa-minus'}[collapsed]" ng-click="collapsed = !collapsed"></a>
        </td>

      </tr>

      <tr collapse="collapsed">
        <th></th>
        <th></th>
        <th st-ratio="7" st-sort="transaction.reference">REF</th>
        <th st-ratio="10" st-sort="transaction.orderTaker">TAKER</th>
        <th st-ratio="23" st-sort="transaction.lastUpdated">UPDATED</th>
        <th st-ratio="5" st-sort="transaction.filledUnits">FILLED</th>
        <th st-ratio="5" st-sort="transaction.price">PRICE</th>
        <th st-ratio="10" st-sort="transaction.amount">AMOUNT</th>
        <th st-ratio="10" st-sort="transaction.fundingPriority">PRIORITY</th>
        <th st-ratio="10" st-sort="transaction.status">STATUS</th>
      </tr>
      <tr collapse="collapsed">
        <td></td>
        <td></td>
        <td><span ng-show="account.transactions.fundingPriority=!'Transacting'">{{transaction.reference}}</span>
                <span ng-hide="account.transactions.fundingPriority=!'Transacting'">
                  <a
                    ng-click="collapsedDetail=!collapsedDetail">{{account.orderTransactionSummary.reference}}</a></span>
        </td>
        <td> {{account.orderTransactionSummary.orderTaker}}</td>
        <td> {{account.orderTransactionSummary.lastUpdatedDateTime}}</td>

        <td> {{account.orderTransactionSummary.filledUnits}}</td>
        <td> ${{account.orderTransactionSummary.price|currency}}</td>
        <td> ${{account.orderTransactionSummary.amount.value|currency}}</td>
        <td> {{account.orderTransactionSummary.fundingPriority}}</td>
        <td> {{account.orderTransactionSummary.status}}</td>
      </tr>
      <tr collapse="collapsedDetail" ng-repeat="transaction in account.transactions">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{transaction.transactionDateTime}}</td>
        <td>{{transaction.amount.value|currency}}</td>
        <td>${{transaction.price}}</td>
      </tr>

      <tfoot>
      <tr>
        <td colspan="13" class="text-center">
          <div st-items-by-page="10" st-pagination="10"
               st-template="views/pagination.custom.html"></div>
        </td>

      </tr>
      </tfoot>

    </table>
  </div>


  <a ui-sref="tabs">back</a>

</div>
