<div class="col-sm-2">
  <label for="">Order source</label>
  <select class="form-control">
    <option value="">All</option>
    <option value="">Portfolio transacting</option>
    <option value="">Transacting</option>
    <option value="">Off-platform (new)</option>
    <option value="">Bulked managed investments</option>
    <option value="">Automatic cash management</option>
    <option value="">Model portfolios</option>
    <option value="">Dollar cost averaging</option>
    <option value="">Low cash auto sell</option>
    <option value="">Manual orders</option>
    <option value="">Bulked managed investment and TDs</option>
    <option value="">Funds transfer</option>
    <option value="">Exercise/assignments (new)</option>
  </select>
</div>

<div class="col-sm-2">
  <label for="">Status</label>
  <select class="form-control">
    <option value="">Complete</option>
    <option value="">In progress</option>
    <option value="">Awaiting settlement</option>
    <option value="">Pending</option>
    <option value="">Complete</option>
    <option value="">Cancelled</option>
    <option value="">Execute failed</option>

  </select>
</div>

<div class="col-sm-2 advancedSearch">
  <a href="#" ng-show="showAdvancedSearch" ng-click="showAdvancedSearch=false">Advanced search</a>
</div>

