<div class="col-sm-2">
  <label for="">Order source</label>

  <select ng-model="orderSource" ng-options="source.name for source in orderSourceTypes" class="form-control">
  </select>

</div>

<div class="col-sm-2">
  <label for="">Status</label>
  <select ng-model="orderStatus" ng-options="status.name for status in orderStatuses" class="form-control">
  </select>
</div>

<div class="col-sm-2 advancedSearch">
  <a href="#" ng-click="showAdvancedSearch=!showAdvancedSearch">Advanced search</a>
</div>

