<div>

  <div>

    <span class="results">
    {{accounts.length}} results match your search selection.
      </span>

    <table st-ratio="100"  st-table="displayedRows"  st-safe-src="accounts" class="table table-striped">
      <thead>
      <tr>
        <th st-ratio="10" st-sort="accountId.key">Account</th>
        <th st-ratio="30" st-sort="account.accountName"></th>
        <th st-ratio="10" st-sort="account.adviser">Adviser</th>
        <th st-ratio="20" st-sort="account.productName">Product</th>
        <th st-ratio="30" st-sort="minOpenOrderState">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="acc in accounts | filter : { 'account': account}:true ">

        <td st-ratio="10" ><a ui-sref="orderDetail({accountId:acc.account.accountId.key})"> {{acc.account.accountId.key}}</a></td>


        <td st-ratio="10" >{{acc.account.accountName}}</td>
        <td st-ratio="10" >{{acc.account.adviser.key}}</td>
        <td st-ratio="10" >{{acc.account.productName}}</td>
        <td st-ratio="10" >{{acc.minOpenOrderState}}</td>
      </tr>
      </tbody>

      <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-items-by-page="10" st-pagination=""
               st-template="views/pagination.custom.html"></div>
        </td>

      </tr>
      </tfoot>

    </table>

  </div>
</div>
