<div collapse="!showAdvancedSearch">
  <div class="row tableFilter">
    <div class="col-sm-2">
      <label for="">Asset type</label>

      <select class="form-control" name="" ng-model="assetType" ng-options="item.name for item in assetTypes">
        <option value="">empty</option>
      </select>
    </div>

    <div class="col-sm-2">
      <label for="">Security</label>
      <input class="form-control" ng-model="account.account.accountName" type="text"/>
    </div>


    <div class="col-sm-2">
      <label for="">Trade type</label> account:{{account}}
      <select class="form-control"  ng-model="account.tradeType" ng-options="item.name for item in tradeTypes">
        <option value="">-</option>
      </select>
    </div>





    <div class="col-sm-2">
      <label for="">Date from:</label>
      <date-picker par1="dateFrom"></date-picker>
    </div>

    <div class="col-sm-2">
      <label for="">Date to:</label>
      <date-picker par1="dateTo"></date-picker>
    </div>

    <div class="col-sm-2">
      <label for="">Period</label>
      <select class="form-control" ng-options="item for item in periodTypes">

      </select>
    </div>

  </div>

</div>
