<div class="main">

  <div class="well search form-inline">
    <div class="row">
      <div class="col-sm-8">
        <label for="">Account Search:</label>

        <input type="text" id="selectaccount" ng-model="selectedAccount" placeholder="Select accountname"
               typeahead-on-select='onSelect($item, $model, $label)'
               typeahead="(account.account.accountId.key + ' ' + account.account.accountName) for account in accounts | filter:$viewValue | limitTo:8"
               class="form-control" typeahead-loading="loadingAccounts">

        <i ng-show="loadingAccounts" class="glyphicon glyphicon-refresh"></i>

        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>

      </div>

      <div class="col-sm-4">

          <label for="">Adviser:</label>

          <select id="selectadviser" class="form-control" name="" id="" ng-options="adviser for adviser in advisers"
                  ng-model="account.adviser">
          </select>


      </div>
    </div>
  </div>


    <reset-filter reset-hello="resetHello()"></reset-filter>

  <div class="orders">
    <div>
      <div>
        <div>
          <tabset id="tab">

            <tab heading="Orders" active="ordersTabActive">
              <orders-tab></orders-tab>
            </tab>

            <tab heading="Awaiting settlement" active="settlementsTabActive">
              <table-filter></table-filter>
              <awaiting-settlements-tab></awaiting-settlements-tab>
            </tab>

            <tab heading="Complete" active="completedTabActive">
              <table-filter></table-filter>
              <complete-orders-tab></complete-orders-tab>
            </tab>

          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>

